# Clustering

## Agenda:

1. K-means clustering
2. Clustering evaluation
3. DBSCAN clustering

In [1]:
# beer dataset
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt'
beer = pd.read_csv(url, sep=' ')
beer

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

How would you cluster these beers?

In [2]:
# TODO - define X
X = beer.drop('name', axis=1)

What happened to y?

## Part 1: K-means clustering

In [1]:
# K-means with 3 clusters
from sklearn.cluster import KMeans

# TODO - initial k-means to 3 clusters, and fit it
# km = ... (call it this for later)

In [4]:
# review the cluster labels
km.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 2, 0, 0, 2, 1])

In [5]:
# save the cluster labels and sort by cluster
beer['cluster'] = km.labels_
beer.sort('cluster')

                    name  calories  sodium  alcohol  cost  cluster
0              Budweiser       144      15      4.7  0.43        0
1                Schlitz       151      19      4.9  0.43        0
2              Lowenbrau       157      15      0.9  0.48        0
3            Kronenbourg       170       7      5.2  0.73        0
4               Heineken       152      11      5.0  0.77        0
5          Old_Milwaukee       145      23      4.6  0.28        0
6             Augsberger       175      24      5.5  0.40        0
7   Srohs_Bohemian_Style       149      27      4.7  0.42        0
17   Heilemans_Old_Style       144      24      4.9  0.43        0
16                 Hamms       139      19      4.4  0.43        0
10                 Coors       140      18      4.6  0.44        0
14                 Kirin       149       6      5.0  0.79        0
12        Michelob_Light       135      11      4.2  0.50        0
13                 Becks       150      19      4.7  0.76        0
9        Budweiser_Light       113       8      3.7  0.40        1
8            Miller_Lite        99      10      4.3  0.43        1
11           Coors_Light       102      15      4.1  0.46        1
19         Schlitz_Light        97       7      4.2  0.47        1
15     Pabst_Extra_Light        68      15      2.3  0.38        2
18   Olympia_Goled_Light        72       6      2.9  0.46        2

What do the clusters seem to be based on? Why?

In [2]:
# TODO - review the cluster centers. What's the command?

In [3]:
# TODO - calculate the mean of each feature for each cluster

In [8]:
# TODO - save the DataFrame above of cluster centers
# centers = ...

In [9]:
# allow plots to appear in the notebook
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 14

In [10]:
# create a "colors" array for plotting
import numpy as np
colors = np.array(['red', 'green', 'blue', 'yellow'])

In [4]:
# TODO - scatter plot of calories versus alcohol, colored by cluster (0=red, 1=green, 2=blue)
# hint: color in a plot is usually specified with c=array
# Hopefully plotting is becoming familiar to you now!

# TODO - cluster centers, marked by "+"
# Just make sure you understand this command: 
# plt.scatter(centers.calories, centers.alcohol, linewidths=3, marker='+', s=300, c='black')

# TODO - always remember to add labels!

In [5]:
# TODO - scatter plot matrix (0=red, 1=green, 2=blue)
# Any observations?
# hint: figsize=(10,10), s=100, looks good

### Repeat with scaled data

In [13]:
# center and scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [6]:
# TODO - repeat K-means with 3 clusters on scaled data

In [8]:
# TODO - save the cluster labels and sort by cluster

What are the "characteristics" of each cluster?

In [7]:
# TODO - review the cluster centers

In [9]:
# TODO - scatter plot matrix of new cluster assignments (0=red, 1=green, 2=blue)
# pd.scatter_matrix(X, c=colors[beer.cluster], figsize=(10,10), s=100)

Do you notice any cluster assignments that seem a bit odd? How might we explain those?

## Part 2: Clustering evaluation

The [Silhouette Coefficient](http://scikit-learn.org/stable/modules/clustering.html#silhouette-coefficient) is a common metric for evaluating clustering "performance" in situations when the "true" cluster assignments are not known.

A Silhouette Coefficient is calculated for **each observation**:

$$SC = \frac{b-a} {max(a, b)}$$

- a = mean distance to all other points in **its cluster**
- b = mean distance to all other points in **the next nearest cluster**

It ranges from -1 (worst) to 1 (best). A **global score** is calculated by taking the mean score for all observations.

In [10]:
# TODO - calculate SC for our model
from sklearn import metrics

In [11]:
# TODO - calculate SC for K=2 through K=19

In [12]:
# TODO - plot the results (SC vs k)
# Don't forget to label!

## Part 3: DBSCAN clustering

In [13]:
# TODO - DBSCAN with eps=1 and min_samples=3
from sklearn.cluster import DBSCAN

In [14]:
# TODO - review the cluster labels

In [24]:
# save the cluster labels and sort by cluster
beer['cluster'] = db.labels_
beer.sort('cluster')

                    name  calories  sodium  alcohol  cost  cluster
2              Lowenbrau       157      15      0.9  0.48       -1
5          Old_Milwaukee       145      23      4.6  0.28       -1
6             Augsberger       175      24      5.5  0.40       -1
18   Olympia_Goled_Light        72       6      2.9  0.46       -1
13                 Becks       150      19      4.7  0.76       -1
15     Pabst_Extra_Light        68      15      2.3  0.38       -1
0              Budweiser       144      15      4.7  0.43        0
1                Schlitz       151      19      4.9  0.43        0
7   Srohs_Bohemian_Style       149      27      4.7  0.42        0
17   Heilemans_Old_Style       144      24      4.9  0.43        0
10                 Coors       140      18      4.6  0.44        0
16                 Hamms       139      19      4.4  0.43        0
12        Michelob_Light       135      11      4.2  0.50        0
3            Kronenbourg       170       7      5.2  0.73        1
4               Heineken       152      11      5.0  0.77        1
14                 Kirin       149       6      5.0  0.79        1
9        Budweiser_Light       113       8      3.7  0.40        2
8            Miller_Lite        99      10      4.3  0.43        2
11           Coors_Light       102      15      4.1  0.46        2
19         Schlitz_Light        97       7      4.2  0.47        2

In [25]:
# review the cluster centers
beer.groupby('cluster').mean()

           calories  sodium   alcohol      cost
cluster
-1       127.833333      17  3.483333  0.460000
 0       143.142857      19  4.628571  0.440000
 1       157.000000       8  5.066667  0.763333
 2       102.750000      10  4.075000  0.440000

In [15]:
# TODO - scatter plot matrix of DBSCAN cluster assignments (0=red, 1=green, 2=blue, -1=yellow)
# pd.scatter_matrix(X, c=colors[beer.cluster], figsize=(10,10), s=100)